services:
  - type: web
    name: spicy-regs-search
    runtime: node
    buildCommand: npm install && npx tsc
    startCommand: node dist/index.js
    envVars:
      - key: R2_BUCKET_NAME
        sync: false
      - key: R2_ACCESS_KEY_ID
        sync: false
      - key: R2_SECRET_ACCESS_KEY
        sync: false
      - key: R2_ENDPOINT
        sync: false
      - key: CLOUDFLARE_ACCOUNT_ID
        sync: false
      - key: CLOUDFLARE_API_TOKEN
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
