# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
LANGSMITH_API_KEY=optional-langsmith-account-api-key
OPENAI_API_KEY=openai-api-key